<DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>Listening Post - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/media/style/base.css">
  <link type="text/css" href="/media/jquery-ui/css/smoothness/jquery-ui-1.8.7.custom.css" rel="Stylesheet" />	
  {% block head-additions %}{% endblock %}
</head>
<body>
  <h1>{% block pageTitle %}Page Title{% endblock %}</h1>
  
  {% block mainMenu %}
    <ul class="horizontal_menu">
      {% for item in menu %}
        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  {% endblock %}
  
  <hr/>
  
  {% block content %}{% endblock %}

</script>
  
  {% block footer %}
  <hr/>
  <p>Page Footer</p>
  {% endblock %}
</body>
</html>
