
# Compiled source #
###################

*.pyc

# Temporary Files #
###################

*~
*#
.#*

# Logs and Databases #
######################

*.log
*.sqlite

# Eclipse Files #
#################
.project
.pydevproject