
# Compiled source #
###################

*.pyc

# Temporary Files #
###################

*~
*#
.#*

# Application files #
#####################

local_plugins.py
local_settings.py
*.log
*.sqlite

# Eclipse Files #
#################
.project
.pydevproject

# Archives #
############

archives/wookie-dev