{% extends "page.tmpl.html" %}

{% block title %}{{ participant.emailAddr }}{% endblock %}
{% block pageTitle %}{{participant.emailAddr }}{% endblock %}

{% block content %}
<ul>
  <li>ID: {{participant.id }}</li>
  <li>Email address: {{ participant.emailAddr }}</li>
  <li>Emails sent: <a href="/analysis/participant/{{ participant.id }}/emails" alt="Display all emails from this participant" title="Participants emails">{{ participant.getEmailCount }}</a></li>
  <li>Replies posted: {{ participant.getReplyToOthersCount }}</li> 
  <li>First mail: {{ firstEmail.date }}</li>
  <li>Last mail: {{ lastEmail.date }}</li>
  <li><a href="/analysis/participant/{{ participant.id }}/social">Social Graph</a></li>
</ul>
{% endblock %}
