{% extends "page.tmpl.html" %}

{% block title %}{{ participant.emailAddr }}{% endblock %}
{% block pageTitle %}{{participant.emailAddr }}{% endblock %}

{% block content %}
<ul>
  <li>ID: {{participant.id }}</li>
  <li>Email address: {{ participant.emailAddr }}</li>
  <li>Emails sent: <a href="/analysis/participant/{{ participant.id }}/emails" alt="Display all emails from this participant" title="Participants emails">{{ participant.email_count }}</a></li>
  <li>Replies posted: {{ participant.reply_to_count }}</li> 
  <li>First mail: {{ firstEmail.date }}</li>
  <li>Last mail: {{ lastEmail.date }}</li>
  <li>Frequent words:
    <ul>
      {% for word, count in word_count|slice:":8" %}
        <li>{{ word }}: {{ count }}</li>
      {% endfor %}
    </ul>
  </li>
  <li><a href="/analysis/participant/{{ participant.id }}/social">Social Graph</a></li>
</ul>
{% endblock %}
