{% extends "page.tmpl.html" %}

{% block title %}{{ email.subject }}{% endblock %}
{% block pageTitle %}{{ email.subject }}{% endblock %}

{% block content %}
<ul>
  <li>Subject: {{ email.subject }}</li>
  <li>From: <a href="/analysis/participant/{{ email.fromParticipant.id }}/emails" alt="Display all emails from {{ email.fromParticipant }}" title="emails from {{ email.fromParticipant }}">{{ email.fromParticipant }}</a></li>
  <li>Date: {{ email.date }}</li>
  <li>Most Frequent Words: 
    <ul>
      {% for word, count in email.word_count|slice:":5" %}
        <li>{{ word }}: {{ count }}</li>
      {% endfor %}
    </ul>
  </li>
</ul>
<pre>{{ email.body }}</pre>

<a href="{% url reply_email email_id=email.id %}">Reply</a>

{% endblock %}
