{% extends "page.tmpl.html" %}

{% block title %}All Tickets{% endblock %}
{% block pageTitle %}Tickets{% endblock %}

{% block content %}

<div id="tickets-accordion">
  {% for ticket in tickets.object_list %}
  <div>
    <h3><a href="#">{{ ticket.title }} - {{ ticket.modified }}</a></h3>
      
    <div>
        <p><a href="{% url mark_ticket_complete ticket_id=ticket.id %}">Mark Complete</a></p>
	    {% for email in ticket.actions.all %}
	      <div class="email">
	        <p><a href="{% url reply_email email_id=email.id %}">Reply</a></p>
	        <p><a href="{% url view_email email_id=email.id %}">{{ email.subject }}</a>
	        from <a href="/analysis/participant/{{ email.fromParticipant.id }}/detail">{{ email.fromParticipant }}</a></p>
	        <p><pre>{{ email.body }}</pre></p>
	      </div>
	    {% endfor %}
	</div>
  </div>
  {% endfor %}  
</div>

<script type="text/javascript">
	$(function(){
		$("#tickets-accordion").accordion({ header: "h3", collapsible: true, autoHeight: false});
	});
</script>


<div class="pagination">
    <span class="step-links">
        {% if tickets.has_previous %}
            <a href="?page={{ tickets.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}.
        </span>

        {% if tickets.has_next %}
            <a href="?page={{ tickets.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
