{% extends "page.tmpl.html" %}

{% block title %}All Tickets{% endblock %}
{% block pageTitle %}Tickets{% endblock %}

{% block content %}

{% for ticket in tickets.object_list %}
  <div class="ticket">
    <p>
      <span class="title">{{ ticket.title }}</span>
      <span class="date">{{ ticket.modified }}</span><br/>
      <span class="action"><a href="{% url mark_ticket_complete ticket_id=ticket.id %}">Complete</a></span><br/>
    </p>
	<div class="emails">
	    {% for email in ticket.actions.all %}
	      <div class="email">
	        <span class="subject"><a href="{% url view_email email_id=email.id %}">{{ email.subject }}</a></span><br/>
	        from <span class="from">{{ email.fromParticipant }}</span><br/>
	        <span class="body" style="word-wrap: break-word"><pre>{{ email.body }}</pre></span><br/>
	      </div>
	    {% endfor %}
	</div>
  </div>
  <hr/>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if tickets.has_previous %}
            <a href="?page={{ tickets.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}.
        </span>

        {% if tickets.has_next %}
            <a href="?page={{ tickets.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
