{% extends "page.tmpl.html" %}

{% block title %}All Participants{% endblock %}
{% block pageTitle %}Participants{% endblock %}

{% block content %}


<table>
  <tr>
    <th>From Email</th>
    <th>Date</th>
    <th>Subject</th>
    <th>In reply to</th>
  </td>

  {% for email in emails %}
    <tr>
      <td><a href="/analysis/participant/{{ email.fromParticipant.id }}/detail">{{ email.fromParticipant }}</a></td>
      <td>{{ email.date }}</td>
      <td><a href="/analysis/mail/{{ email.id }}/read" alt="Read the email with subject '{{ email.subject }}'" title="Read email">{{ email.subject }}</a></td>
      <td>
	{% if email.backlink %}

	  {{ email.backlink.foo }}
        {% else %}
          &nbsp;
	{% endif %}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
