{% extends "page.tmpl.html" %}

{% block title %}All Participants{% endblock %}
{% block pageTitle %}Participants{% endblock %}

{% block content %}

<table>
  <tr>
    <th>From Email</th>
    <th>Date</th>
    <th>Subject</th>
    <th>In reply to</th>
    <th>Action Needed</th>
  </td>

  {% for email in emails.object_list %}
    <tr>
      <td><a href="/analysis/participant/{{ email.fromParticipant.id }}/detail">{{ email.fromParticipant }}</a></td>
      <td>{{ email.date }}</td>
      <td><a href="/analysis/mail/{{ email.id }}/read" alt="Read the email with subject '{{ email.subject }}'" title="Read email">{{ email.subject }}</a></td>
      <td>
	{% if email.backlink %}
	  <a href="{% url view_email email_id=email.id %}">{{ email.subject }}</a>
    {% else %}
          &nbsp;
	{% endif %}
      </td>
      <td>
      	<ul>
        {% for action in email.action.all %}
        	{% if action.status = action.OPEN_STATUS %}
           		<li><a href="{% url view_email email_id=email.id %}">{{ action.queue }}</a></li>
           	{% endif %}
        {% endfor %}
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if emails.has_previous %}
            <a href="?page={{ emails.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ emails.number }} of {{ emails.paginator.num_pages }}.
        </span>

        {% if emails.has_next %}
            <a href="?page={{ emails.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
