{% extends "analysisPage.tmpl.html" %}

{% block title %}Welcome{% endblock %}
{% block pageTitle %}Listening Post{% endblock %}

{% block content %}

<h2>Participants Report</h2>

<ul>
  <li>Total emails: {{ total_emails }}</li>
  <li>Total participants: {{ total_participants }}</li>
  <li>New Participants:
  	{% if new_participants|length == 0 %}
  	  None
  	{% else %}
	    <ol>
	      {% for participant in new_participants %}
	      	<li>{{ participant }}</li>
	      {% endfor %}
	    </ol>
	{% endif %}
  </li>
  <li>Open Reply Actions {{ reply_actions|length }}
    <ol>
      {% for action in reply_actions %}
      	<li>{{ action }}</li>
      {% endfor %}
    </ol>
  </li>
  <li>Open Actions {{ other_open_actions|length }}
    <ol>
      {% for action in other_open_actions %}
      	<li>{{ action }}</li>
      {% endfor %}
    </ol>
  </li>
</ul>

{% endblock %}
