{% extends "analysisPage.tmpl.html" %}

{% block title %}{{ participant.emailAddr }} - Social graph{% endblock %}
{% block pageTitle %}{{ participant.emailAddr }} - Social Graph{% endblock %}

{% block content %}


<table>
  <tr>
    <th>Friend</th>
    <th>Relationship Strength</th>
  </td>

{% for participant, strength in participants %}
    <tr>
      <td>{{ participant }}</td>
      <td>{{ strength }}</td>
    </tr>
{% endfor %}

</table>
{% if dot %}
<h2>DOT file</h2>
<pre>{{ dot }}<pre>
{% endif %}

{% endblock %}
